// Colors:
$pink:      #FDD4B4;
$pink75:    #FDDFC7;
$pink50:    #FEE9D9;
$pink25:    #FEF4EC;

$brown:     #D28F58;
$brown75:   #DDAB82;
$brown50:   #E8C7AB;
$brown25:   #F4E3D5;

$green:     #78886D;
$green75:   #9AA691;
$green50:   #BBC3B6;
$green25:   #DDE1DA;

$gray:      #D1C5C5;
$gray75:    #DCD3D3;
$gray50:    #E8E2E2;
$gray25:    #F3F0F0;


// Fonts:
$bodyFont: 'Nunito Sans', sans-serif;
$headerFont: 'Valky', serif;